@import './quasar-variables.sass';

/** Global Definite **/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary; 
}
/** End of Global Definite **/

/** Overide **/
code {
  font-family: 'Courier Prime', monospace !important;
  // font-family: $typography-font-family;
  white-space: pre-wrap;
  word-break: break-word;

  .hljs {
    &-attr {
      color: $primary;
    }

    &-string {
      color: $positive;
    }

    &-number {
      color: $negative;
    }

    &-punctuation {
      color: $warning;
    }
  }
}

.q-field--dark {
  &.q-field--focused {
    .q-field__label {
      color: $dark;
    }
  }
}
/** End of Overide **/

/** Utility **/
@mixin margin-classes {
  @for $i from 1 through $utility-sizes {
     $margin: $i * 0.25em;
    /* margin #{$margin} */
    .ma-#{$i}  {margin: $margin;}
    .ml-#{$i} {margin-left: $margin;}
    .mr-#{$i} {margin-right: $margin;}
    .mt-#{$i} {margin-top: $margin;}
    .mb-#{$i} {margin-bottom: $margin;}
    .mx-#{$i} {margin-left: $margin; margin-right: $margin;}
    .my-#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@include margin-classes;


@mixin padding-classes {
  @for $i from 1 through $utility-sizes {
    $padding: $i * 0.5em;
    /* padding #{$padding} */
    .pa-#{$i} {padding: $padding;}
    .pl-#{$i} {padding-left: $padding;}
    .pr-#{$i} {padding-right: $padding;}
    .pt-#{$i} {padding-top: $padding;}
    .pb-#{$i} {padding-bottom: $padding;}
    .px-#{$i} {padding-left: $padding; padding-right: $padding;}
    .py-#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}
@include padding-classes;
/** End of Utility **/