@import './quasar-variables.sass';

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary; 
}

code {
  font-family: 'Courier Prime', monospace !important;
  // font-family: $typography-font-family;
  white-space: pre-wrap;
  word-break: break-word;

  .hljs {
    &-attr {
      color: $primary;
    }

    &-string {
      color: $positive;
    }

    &-number {
      color: $negative;
    }

    &-punctuation {
      color: $warning;
    }
  }
}

.q-field--dark {
  &.q-field--focused {
    .q-field__label {
      color: $dark;
    }
  }
}